@using Common
@using Entity.SysManage
@model IList<SysUser>
@inject Microsoft.Extensions.Options.IOptions<AppSettingsJson> setting
@{
    //指明视图View(users)返回类型
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<span>数据库：@setting.Value.DBM.SqlServer[0].ConnectionString</span>

@section Header {
    <header>
        @if (Model.FirstOrDefault().Sex == Entity.Enum.Gender.Gentleman)
        {

        }
    </header>
}
@RenderSection("Header", false)
@if (IsSectionDefined("Header"))
{
    @RenderSection("Header")
}

@await Component.InvokeAsync("Menu", new { id = ViewBag.DeptId })
<vc:menu id="@ViewBag.DeptId"></vc:menu>

<div class="row">
    <div class="col-md-10 offset-md-2">
        <table class="table">
            <tr>
                <th>No</th>
                <th>Account</th>
                <th>RealName</th>
                <th>Gender</th>
                <th>操作</th>
            </tr>
            @Html.DisplayForModel()<!-- 读取当前目录下DisplayTemplates文件夹模板视图 -->
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-2">
        <!-- asp-route-XXX：action对应参数XXX -->
        <a asp-action="Add" asp-route-deptId="@ViewBag.DeptId">Add</a>
    </div>
</div>

@section Footer {
    <footer></footer>
}