@model Entity.SysUser

<tr>
    <td>@Model.no</td>
    <td>@Model.account</td>
    <td>@Model.real_name</td>
    <td>@Model.sex</td>

    <td>
        <a asp-controller="XXX" asp-action="Index" asp-route-deptId="@Model.id">XXX</a>
    </td>
</tr>